
@{
    ViewBag.Title = "Easechool";
}
<link rel="stylesheet" type="text/css" href="~/Content/easechool.css">
<div class="screen screen-future shown-section-animated one-screen white paddingBottom0">
    @*<h2>Easechool</h2>*@
    
    <section id="main-banner">
        <div class="bg-animation">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="text myProductTitle">
                            <h2 class="colorWhite">Easechool</h2>
                        </div>
                    </div>
                        <div class="col-md-12">
                            <div class="banner-content text-center">
                                <h3 class="hide">Banner</h3>
                                <img src="~/Content/images/screen.png" class="img-responsive imgSetup" alt="">
                            </div>
                        </div>
                    </div>

            </div><!-- End Container -->
        </div>
    </section>    
</div>
<div class="one-screen">
    <div class="productscreen">
        <section id="main-features" class="ptb-80 hash bb-1">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-xs-12">
                        <div class="box-style-1">
                            <div class="icon-container primary-bg">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 384 384" style="enable-background:new 0 0 384 384;" xml:space="preserve" width="512" height="512" class=""><g transform="matrix(0.655659 0 0 0.655659 66.1134 66.1134)"><g>
                                <g>
                                <g>
                                <rect x="213.333" y="0" width="170.667" height="128" data-original="#000000" class="active-path" style="fill:#F2F7F8" data-old_color="#DEE8EB"></rect>
                                <rect x="0" y="0" width="170.667" height="213.333" data-original="#000000" class="active-path" style="fill:#F2F7F8" data-old_color="#DEE8EB"></rect>
                                <rect x="0" y="256" width="170.667" height="128" data-original="#000000" class="active-path" style="fill:#F2F7F8" data-old_color="#DEE8EB"></rect>
                                <rect x="213.333" y="170.667" width="170.667" height="213.333" data-original="#000000" class="active-path" style="fill:#F2F7F8" data-old_color="#DEE8EB"></rect>
		</g>
	</g>
</g></g> </svg>
                            </div>
                            <div class="body">
                                <h5>Bootstrap Based</h5>
                                <p>Voluptatem ad provident non veritatis beatae cupiditate amet reiciendis.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-12">
                        <div class="box-style-1">
                            <div class="icon-container primary-bg">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 54 54" style="enable-background:new 0 0 54 54;" xml:space="preserve" width="512" height="512" class=""><g transform="matrix(0.703448 0 0 0.703448 8.00691 8.00691)"><g>
                                <rect style="fill:#F2F7F8" width="18" height="54" data-original="#802F34" class="active-path" data-old_color="#EBF2F6"></rect>
                                <rect x="18" style="fill:#E8EDEE" width="18" height="54" data-original="#C03A2B" class="" data-old_color="#F2F7F8"></rect>
                                <rect x="36" style="fill:#D4D9DA" width="18" height="54" data-original="#E64C3C" class="" data-old_color="#F2F7F8"></rect>
                                <rect x="4" y="4" style="fill:#108FCF" width="10" height="20" data-original="#FFFFFF" class="" data-old_color="#FFFFFF"></rect>
                                <rect x="22" y="4" style="fill:#108FCF" width="10" height="20" data-original="#FFFFFF" class="" data-old_color="#FFFFFF"></rect>
                                <rect x="40" y="4" style="fill:#108FCF" width="10" height="20" data-original="#FFFFFF" class="" data-old_color="#FFFFFF"></rect>
                                <g>
                                <circle style="fill:#108FCF" cx="9" cy="44" r="5" data-original="#802F34" class="active-path" data-old_color="#1097E4"></circle>
                                <path style="fill:#F2F7F8" d="M9,50c-3.309,0-6-2.691-6-6s2.691-6,6-6s6,2.691,6,6S12.309,50,9,50z M9,40c-2.206,0-4,1.794-4,4    s1.794,4,4,4s4-1.794,4-4S11.206,40,9,40z" data-original="#ECF0F1" class="" data-old_color="#A9C2C9"></path>
	</g>
                                <g>
                                <circle style="fill:#108FCF" cx="27" cy="44" r="5" data-original="#802F34" class="active-path" data-old_color="#1097E4"></circle>
                                <path style="fill:#F2F7F8" d="M27,50c-3.309,0-6-2.691-6-6s2.691-6,6-6s6,2.691,6,6S30.309,50,27,50z M27,40    c-2.206,0-4,1.794-4,4s1.794,4,4,4s4-1.794,4-4S29.206,40,27,40z" data-original="#ECF0F1" class="" data-old_color="#A9C2C9"></path>
	</g>
                                <g>
                                <circle style="fill:#108FCF" cx="45" cy="44" r="5" data-original="#802F34" class="active-path" data-old_color="#108FCF"></circle>
                                <path style="fill:#F2F7F8" d="M45,50c-3.309,0-6-2.691-6-6s2.691-6,6-6s6,2.691,6,6S48.309,50,45,50z M45,40    c-2.206,0-4,1.794-4,4s1.794,4,4,4s4-1.794,4-4S47.206,40,45,40z" data-original="#ECF0F1" class="" data-old_color="#A9C2C9"></path>
	</g>
</g></g> </svg>
                            </div>
                            <div class="body">
                                <h5>Well Documented</h5>
                                <p>Voluptatem ad provident non veritatis beatae cupiditate amet reiciendis.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-12">
                        <div class="box-style-1">
                            <div class="icon-container primary-bg">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 51.997 51.997" style="enable-background:new 0 0 51.997 51.997;" xml:space="preserve" width="512" height="512" class=""><g transform="matrix(0.739701 0 0 0.739701 6.76739 6.76739)"><path d="M51.911,16.242C51.152,7.888,45.239,1.827,37.839,1.827c-4.93,0-9.444,2.653-11.984,6.905  c-2.517-4.307-6.846-6.906-11.697-6.906c-7.399,0-13.313,6.061-14.071,14.415c-0.06,0.369-0.306,2.311,0.442,5.478  c1.078,4.568,3.568,8.723,7.199,12.013l18.115,16.439l18.426-16.438c3.631-3.291,6.121-7.445,7.199-12.014  C52.216,18.553,51.97,16.611,51.911,16.242z" data-original="#000000" class="active-path" style="fill:#F2F7F8" data-old_color="#804A4A"></path></g> </svg>
                            </div>
                            <div class="body">
                                <h5>Easy To Use</h5>
                                <p>Voluptatem ad provident non veritatis beatae cupiditate amet reiciendis.</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div><!-- End Container -->
        </section>
    </div>
</div>
<div class="one-screen">

</div>
<div class="one-screen">

</div>
<div class="one-screen">

</div>